    <%- include('./../partials/head') %>
    <title>Edit Profile</title>
</head>
<body>
    <%- include('./../partials/nav') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Edit your profile</h3>
            </div>
            <div class="card-body">
                <form action="/profile/edit" method="POST">
                    <input type="number" name="userId" value="<%= userSession.id %>" hidden>
                    <label for="userName">User Name:</label>
                    <input type="text" name="userName" value="<%= userSession.userName %>" class="form-control" required>
                    <label for="userEmail">Email:</label>
                    <input type="email" name="userEmail" value="<%= userSession.userEmail %>" class="form-control" required>
                    <label for="userPassword">Password:</label>
                    <input type="password" name="userPassword" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="/profile" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h3>Change Password</h3>
            </div>
            <div class="card-body">
                <form action="/profile/password/new" method="POST">
                    <input type="number" name="userId" value="<%= userSession.id %>" hidden>
                    <label for="userPassword">Current password:</label>
                    <input type="password" name="currentPassword" class="form-control" required>
                    <label for="userPassword">New password:</label>
                    <input type="password" name="newPassword" class="form-control" required>
                    <label for="userPassword">Confirm password:</label>
                    <input type="password" name="confirmPassword" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="/profile" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>

<%- include('./../partials/footer') %>
    