    <%- include('./../partials/head') %>
    <title>Edit Task</title>
</head>
<body>
    <%- include('./../partials/nav') %>
    <main>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Edit a task</h3>
                </div>
                <div class="card-body">
                    <form action="/tasks/edit/save" method="POST">
                        <input type="text" name="taskId" hidden value="<%= task.id %>">
                        <label for="taskTiel">Title:</label>
                        <input type="text" name="taskTitle" class="form-control" value="<%= task.taskTitle %>" required>
                        <label for="taskTiel">Description:</label>
                        <input type="text" name="taskDescription" class="form-control" value="<%= task.taskDescription %>" required>
                        <label for="taskTiel">Deadline:</label>
                        <input type="date" name="taskDeadline" class="form-control" value="<%= task.taskDeadline %>" required>
                        <br>
                        <select name="taskComplete">
                            <option value="0">Incomplete</option>
                            <option value="1" <% if(task.taskComplete == 1) { %> selected <% } %>>Complete</option>
                        </select>
                        <hr>
                        <button type="submit" class="btn btn-success">Edit</button>
                        <a href="/tasks" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include('./../partials/footer') %>