<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./../partials/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <%- include('./../partials/nav.ejs') %>
    
    <div class="container">
        <div class="card container-fluid">
            <div class="car-header">
                <h3>Welcome! Here's your to do list</h3>
            </div>
            <div class="card-body">
                <% if(tasks.length > 0) {%>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Deadline</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% tasks.forEach((task) => { %>
                                <tr>
                                    <td><%= task.id %></td>
                                    <td><%= task.title %></td>
                                    <td><%= task.description %></td>
                                    <td><%= task.deadline %></td>
                                    <td class="row">
                                        <a href="/tasks/edit/<%= task.id %>" class="btn btn-warning">[|]</a>
                                        <form action="/tasks/delete" method="POST" onsubmit="confirmDelete(event, this)">
                                            <input type="text" name="taskId" value="<%= task.id %>" class="form-control" hidden></input>
                                            <button type="submit" class="btn btn-danger">X</button>    
                                        </form>
                                    </td>
                                </tr>
                            <% }) %> 
                        </tbody>
                    </table>
                <% }else{ %>
                    <h2>Empty!</h2>
                <% } %>
            </div>
        </div>
    </div>
</body>
<%- include('./../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        if(confirm('tu quer deletar?')){
            form.submit();
        }
    }
</script>
</html>